* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background: #efefef;
  gap: 20px;
}

.sideBar {
  width: 200px;
  background: rgb(236, 181, 84);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 40px;
}

.sideBar ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sideBar ul li {
  list-style: none;
}

.sideBar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
}

.sideBar ul li a:hover {
  color: black;
}

.navbar {
  background-color: #fff;
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  gap: 20px;
}
.line {
  width: 2px;
  height: 80%;

  background: rgb(236, 181, 84);
}

.navbar span {
  cursor: pointer;
}

.navbar span:hover {
  color: rgb(236, 181, 84);
}

.navbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}


.mainHomeContent{
  display: flex;
  gap: 20px;
}

.hostleStatus {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.singleStatus {
  background: #fff;
  width: 280px;
  height: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.singleStatus img {
  width: 60px;
  height: 60px;
}

.singleStatus .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.middleLine{
  width: 2px;
  height: 80vh;
  background: rgb(236, 181, 84);
  margin-top: 30px;
}

.recentlyJoinedStudents{
  margin-top: 30px;
  background: #fff;
  width: 1040px;
  height: 450px;
  border-radius: 20px;
  overflow-y: auto;
}


.homeContainer{
  display: flex;
  flex-direction: column;
}

.recentlyJoinedStudents h3{
  margin-top: 30px;
  margin-left: 30px;
}


table{
  margin-top: 30px;
}
th{
  width: 180px;
  background: rgb(236, 181, 84);
  height: 10px;
  padding: 10px;
}

td{
  padding: 10px;
  height: 10px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

tr:hover{
  cursor: pointer;
  background: rgba(182, 154, 104, 0.4);;;
}

