@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

body {
  display: flex;
  background: #efefef;
  gap: 20px;
}

.sideBar {
  width: 200px;
  background: rgb(236, 181, 84);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 40px;
}

.sideBar ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sideBar ul li {
  list-style: none;
}

.sideBar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
}

.sideBar ul li a:hover {
  color: black;
}

.navbar {
  background-color: #fff;
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.line {
  width: 2px;
  height: 80%;

  background: rgb(236, 181, 84);
}

.navbar span {
  cursor: pointer;
}

.navbar span:hover {
  color: rgb(236, 181, 84);
}

.navbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.add-room h5 {
  font-size: 18px;
  font-weight: 500;
}

.roomDetails {
  margin-top: 60px;
  overflow-y: auto;
  width: 83vw;
  height: 79vh;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.room {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  background: #fff;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.room img {
  width: 240px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.addBtn {
  position: relative;

  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: rgb(236, 181, 84);
  width: 44px;
  height: 44px;
  cursor: pointer;
  animation: shake3856 0.3s linear infinite both;
  
}

.addBtn:hover {
}

.adding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 40px;
  right: 40px;

  p {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
  }
}

a {
  color: black;
  text-decoration: none;
  height: fit-content;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.add-room {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: fit-content;
}

#addRoomForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#addRoomForm input {
  width: 250px;
  height: 40px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-bottom-width: 3px;
  font-size: 14px;
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
}

#addRoomForm h5 {
  position: relative;
  font-weight: 600;
  font-size: 24px;
}

#addRoomForm h5::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all ease-in-out 3s;
  background: rgb(236, 181, 84);
  animation: expandShrinkBar 3s infinite alternate;
}

@keyframes expandShrinkBar {
  0% {
    width: 0;
  }
  50% {
    width: 120px;
  }
  100% {
    width: 0;
  }
}

.submit-btn {
  width: fit-content;
  padding: 5px 20px;
  font-size: 14px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 9px;
  background: rgb(236, 181, 84);
  cursor: pointer;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
}

#addRoomForm input:focus,
input:valid {
  border-color: rgb(236, 181, 84);
}

.heading {
  display: flex;
  justify-content: space-between;

}

.close-btn {
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  border: none;
  outline: none;
}

.close-btn:hover {
  color: rgb(236, 181, 84);
}


.date{
  display: flex;
  
}

.file{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  border: 2px dotted rgb(236, 181, 84);
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  label{
    cursor: pointer;
  }
}
